# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Editor Directories
.vscode/
.idea/
*.tmp
*.log

# Backups
*.bak
*.zip

# Android & Build caches
.gradle/
android/.gradle/
android/build/
android/app/build/
android/build_work/
android/*.apk
android/app/src/main/assets/docs/
*.keystore
*.idsig
*.py
*.png
scratch/
